.panaderia-card {
	position: relative;

	&.pastel {
		color: black;
		.cover {
			background-color: #FFEFCF;
		}

		svg {
			stroke: black;
		}
	}

	&.red {
		color: white;

		.cover {
			background-color: #F5333F;
		}

		svg {
			stroke: white;
		}
	}

	&.orange {
		color: white;

		.cover {
			background-color: #FF7A00;
		}

		svg {
			stroke: white;
		}
	}

	&.blue {
		color: white;

		.cover {
			background-color: #213A51;
		}

		.arrow {
			color: white;
		}
		
		svg {
			stroke: white;
		}
	}
	
	.bg {
		position: relative;
		width: 100%;
		height: 100%;
		display: flex;
		z-index: 1;

		img {
			object-fit: cover;
			width: 100%;
		}
	}

	.body {
		position: absolute;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		opacity: 0;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		width: 100%;
		height: 80%;
		padding-top: 40px;
		padding-left: 20px;
		padding-bottom: 40px;
		z-index: 3;
		transition: all 300ms ease;

		h2 {
			margin: 0;
			padding: 0;
		}

		.flecha {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 15px;
		}
	}

	&:hover {
		.body {
			opacity: 1;
		}

		.cover {
			opacity: 0.8;
		}
	}

	.cover {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 2;
		opacity: 0;
		transition: all 300ms ease;

		
	}

}

.art-linkcontrol {
	position: relative;
	.block-editor-link-control {
		min-width: 100%;
		width: 100%;
		position: relative;
	}
}

.card-label {
	font-size: 11px;
	width: 100%;
	text-align: left;
	margin-top: 10px;
	margin-bottom: 10px;
	text-transform: uppercase;
}

.textos {
	.components-base-control {
		width: 100%;
		
		.components-base-control__field {
			width: 100%;
		}
	}
}