@use 'config' as *;
@use 'util' as *;
@use 'tools' as *;
@use 'fonts' as *;

footer {
	background-color: var(--color-black);
	padding-top: rem(60);
	.logos
	{
		display: inline-flex;
		margin-top: rem(20);
		img{
			height: rem(30);
		}
	}
	h2 {
		@extend #{'.font-body'};
		color: var(--color-white);
		font-weight: 700;
		font-family: var(--font-secondary);
		margin-bottom: rem(20);
	}
	
	p{
		@extend #{'.font-menu'};
		color: var(--color-white);
		margin-bottom: 0;
	}
	a{
		@extend #{'.font-menu'};
		color: var(--color-white);
		font-weight: 500;
		text-decoration: none;
		position: relative;
		@extend #{'.style_underline'};
	}

	[role="menu"]{
		display: flex;
		flex-direction: column;
		gap: rem(5);

		a{
		@extend #{'.font-menu'};
		color: var(--color-white);
		font-weight: 500;
		text-decoration: none;
		position: relative;
		@extend #{'.style_underline'};
    	}
	}
}


.footer {
	.text{
		&__content{
			color: var(--color-white);
			margin-bottom: rem(20);
		}
	}
	&__rrss {
		ul {
			display: flex;
			flex-direction: row;
			gap: var(--space-xs);
			justify-content: flex-end;
			@include max-width(md) {
				justify-content: center;
			}
		}
	}
}

.footer {
	&__kit {
    margin-top: 0rem !important;
    padding: 2rem;
    background-color: var(--color-black);
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex !important;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      gap: 1.25rem;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -moz-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
			
      @include max-width(sm) {
        width: 100%;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}