@use 'config' as *;
@use 'util' as *;
@use 'tools' as *;
@use 'fonts' as *;

.header	{
	padding: rem(40) 0;
	z-index: 21;
	@include max-width(sm){
		box-shadow: 0px 2px 10px 0px #D8D8D8;
	} 

	&__logo {
		height: 100%;
	}
	&__search {
		display: flex;
	}
	.container {
		@include max-width(lg){
			max-width: 100%;
			width: calc(100% - var(--container-margin-x));
			margin-right: unset;
		} 
	}

	&.open {
		@include max-width(lg){
			background-color: var(--color-white);
		}
		.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::after, .hamburger.is-active .hamburger-inner::before{
			background-color: #000;
		}
	}

	&__icons {
		display: flex;
		align-items: center;
		justify-content: center;

		@include max-width(lg){
			gap: var(--space-xs);
		}

		.cart-icon {
			&-image {
				width: rem(10);
				height: rem(12);
				background-image: url('../images/ico-cart.svg');
				background-repeat: no-repeat;
				background-size: contain;
			}
		}

		.art__lupa {
			@include min-width(lg){
				display: none;
			}
		}

		.art__cart{
			width: rem(43);
			height: rem(39);
		}
		
		.user-route {
			width: rem(43);
			height: rem(39);
		}

		.art__menu {
			@include min-width(lg){
				display: none;
			}
		}

		&-mobile {
			display: flex;

			@include min-width(lg){
				display:  none;
			}

			align-items: center;
			justify-content: end;

			ul {
				display: flex;
				gap: rem(15);
				align-items: center;	
			}

			.lupa {
				cursor: pointer;
			}

		}
	}

}


.menu {
	list-style: none;
	display: flex;
	flex-direction: row;
	gap: rem(20);
	align-items: center;

	&__search {
		height: 100%;
	}
	.search__icon {
			.ico{
				background-color: var(--color-black);
			}
		}

	li {
		a{
		@extend #{'.font-menu'};
		color: var(--color-black);
		font-weight: 500;
		text-decoration: none;
		position: relative;
		transition: all 300ms ease;
			&:hover {
				color: var(--color-red);
			}
    	}
	}
	.current-menu-item{
		a{
			font-weight: 700;
		}
	}
}

.nav-mobile {
	@include min-width(lg){
		display: none;
	}

	max-height: 0;
	overflow: hidden;
	background-color: var(--color-white);
	height: calc(100vh - rem(72));
	width: 100%;
	position: absolute;
	top: rem(92);
	z-index: 200;
	transition: max-height 0.3s ease;   

	.menu-wrapper {
		height: 95%;
	}

	&.open {
		max-height: calc(100vh - rem(72));
	}

	&__content {
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: var(--space-xl);

		.icono {
			img {
				width: rem(54);
				height: rem(54);
			}
		}

		.rrss {
			ul {
				display: flex;
				flex-direction: row;
				gap: var(--space-md);
			}
		}
	}
}

.menu-mobile {
	display: flex;
	flex-direction: column;
	gap: var(--space-xs);
	align-items: flex-end;

	li {
		text-align: center;
		a{
		@extend #{'.font-menu-footer'};
		color: var(--color-black);
		font-weight: 500;
		text-decoration: none;
		position: relative;
		transition: all 300ms ease;
			&:hover {
				color: var(--color-red);
			}
    	}
	}
	.current-menu-item{
		a{
			font-weight: 700;
		}
	}
}

.logo-link .white-logo {
    display: none;
}

.logo-link.white-logo .normal-logo {
    display: none;
}

.logo-link.white-logo .white-logo {
    display: block; 
}

/* Estilo para el submenú */
.am-submenu-list ,.submenu-list {
    display: none;
    position: absolute;
    background-color: var(--color-light-grey);
    z-index: 0;
	top: rem(80);
	li.no-js.am-list-item.menu-item.menu-item-type-taxonomy.menu-item-object-product_cat:not(:last-child){
		border-bottom: 1px solid #E3DBD9;
		
	}
	@include max-width(md){
		position: relative;
		top: rem(0);
	}
}
ul.submenu-list{
	list-style-type: none;
	margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
	padding: rem(3) rem(10);
	li {
		a {
			@extend #{'.font-banner'};
			font-weight: 300;
			font-family: var(--font-primary);
		}
	}
	@include max-width(md){
		margin: rem(10) rem(0);
	}
}

/* Mostrar el submenú cuando tiene la clase 'submenu-show' */
.submenu-show {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
	gap: rem(5);
	padding: rem(3) rem(10);
}

button.am-submenu-toggle.am-submenu-button {
    display: flex;
    flex-direction: row;
	cursor: pointer;
	align-items: center;
	transition: all 300ms ease;
	gap: rem(10);
	font-weight: 500;
	&:hover {
		color: var(--color-red);
		span.am-submenu-icon {
            &:before {
                filter: invert(53%) sepia(97%) saturate(7399%) hue-rotate(349deg) brightness(92%) contrast(97%);
            }
        }
		}
	@include max-width(md){
		font-size: rem(32);
		color: var(--color-black);
		font-weight: 500;
		text-decoration: none;
		position: relative;
		transition: all 300ms ease;
			&:hover {
				color: var(--color-red);
			}
	}
	&.active{
		color: var(--color-red);
	}
}

span.am-submenu-icon {
    width: 10px;
    position: relative;
    display: flex;
    flex-direction: row;
	&:before{
		content: '';
		width: rem(15);
		height: rem(10);
		display: flex;
		background-image: url('../images/Vector.svg');
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center center;
	}
	&.alt-image{
		&:before{
			background-image: url('../images/Vector-red.svg');
		}
	}
}
