@use 'util' as *;
@use 'config' as *;
@use 'fonts' as *;
/* @use 'buttons' as *; */
@use 'tools' as *;

.search {
	&__icon {
		display: flex;
		flex-direction: column;
		justify-content: center;

		.ico {
			margin-bottom: 0;
		}
	}
}