/* @use 'buttons' as *; */
@use 'config' as *;
@use 'util' as *;
@use 'tools' as *;
@use 'fonts' as *;
@use 'theme_buttons' as *;

.forms {
  &__row:not(.nogrid) {
    &.hide {
      display: none;
    }

    .privacy {
      flex-wrap: nowrap;
    }
    margin-bottom: rem(25);
  }
  p{
    margin: 0;
  }
  &__item{
    &.grid{
      margin-bottom: rem(20);
    }
  }
  a {
    color: inherit;
  }

  label {
    font-size: rem(20);
    color: var(--color-green);
    font-weight: 500;
    margin-bottom: rem(10);
    font-family: var(--font-secondary);
  }
  label.politica
  {
    @extend #{'.font-body'};
    a{
      @extend #{'.style_underline'};
    }
  }
  input[type="text"],
  input[type="email"],
  input[type="tel"] {
    background-color: var(--color-light-grey);
    @extend #{'.font-body'};
    border: none;
    width: 100%;
    font-weight: 500;
    margin-top: rem(10);
    padding: var(--space-xs) var(--space-md);
    transition: ease-in-out all 0.3s;

    &::placeholder {
      color: var(--color-black);
    }
    &:hover::placeholder {
      color: var(--color-black);
    }
    &:hover {
      background-color: var(--color-grey);
    }
  }
  textarea {
    background-color: var(--color-light-grey);
    height: rem(150);
    border: none;
    @extend #{'.font-body'};
    padding: var(--space-xs) var(--space-md);
    width: 100%;
    font-weight: 500;
    margin-top: rem(10);
    transition: ease-in-out all 0.3s;

    &::placeholder {
      color: var(--color-black);
    }
    &:hover::placeholder {
      color: var(--color-black);
    }
    &:hover {
      background-color: var(--color-grey);
    }
  }

  input[type="submit"] {
   @extend #{'.btn'};
   position: relative;
   margin-top: var(--space-xs);
  }

  input[type="checkbox"] {
    padding: 0;
    width: 20px;
    height: 20px;
    appearance: auto;
  }

  .aceptance {
    display: flex;
    align-items: center;
    gap: rem(10);
    margin-bottom: var(--space-lg);

    .wpcf7-list-item {
      display: flex;
      align-items: center;
    }

    label {
      text-transform: none;
      @extend #{'.font-body'};
      color: var(--color-black);  
      line-height: 140%;
      font-weight: 400;
      margin: 0;
      a{
        @extend #{'.font-body'};
        color: var(--color-black);
        font-weight: 400;
        text-decoration: none;
        position: relative;
        transition: border-bottom 0.3s ease;
        border-bottom: 1px solid transparent;
        @extend #{'.style_underline'};

        &:hover {
          border-bottom: 1px solid var(--color-black);
        }
      }
    }
  }
}

.wpcf7 {
  &-acceptance {
    .wpcf7-list-item {
      margin-left: 0;
    }
  }

  /* .wpcf7 form.invalid .wpcf7-response-output, */

  form {
    .wpcf7-response-output {
      position: relative;
      border: none;
      padding: 0;
      font-size: rem(20);
      margin-left: 0;
      padding: rem(20) rem(10) rem(25) rem(45);
    }

    &.sent {
      .wpcf7-response-output {
        background-color: #dff0d8;
        border-color: #d6e9c6 !important;
        padding: rem(30) rem(40);

        &::before {
          content: "";
          position: absolute;
          left: rem(10);
          width: rem(24);
          height: rem(24);
          mask-image: url("../images/success.svg");
          mask-repeat: no-repeat;
          mask-size: cover;
          background-color: #3c763d;
        }
      }
    }

    &.invalid {
      .wpcf7-response-output {
        background-color: #f2dede;
        border-color: #ebccd1 !important;
        padding: rem(30) rem(40);

        &::before {
          content: "";
          position: absolute;
          left: rem(10);
          width: rem(24);
          height: rem(24);
          mask-image: url("../images/error.svg");
          mask-repeat: no-repeat;
          mask-size: contain;
          background-color: #a94442;
        }
      }
    }
  }

  &-not-valid-tip {
    margin-top: rem(10);
    @extend #{'.font-t3-dest'};
  }

  .privacy {
    align-items: flex-start;
  }
}

.wpcf7-list-item {
  margin: 0;
}