/* @use 'buttons' as *; */
@use 'config' as *;
@use 'util' as *;
@use 'tools' as *;
@use 'fonts' as *;

.bg {
	&-white {
		background-color: var(--color-white);
	}
	&-light-grey {
		background-color: var(--color-light-grey);
	}
	&-black-b {
		background-color: var(--color-black-b);
	}
	&-red {
		background-color: var(--color-red);
	}
	&-black {
		background-color: var(--color-black);
	}
	&-color {
		&-white {
			background-color: var(--color-white);
		}
		&-light-grey {
			background-color: var(--color-light-grey);
		}
		&-black-b {
			background-color: var(--color-black-b);
		}
		&-red {
			background-color: var(--color-red);
		}
		&-black {
			background-color: var(--color-black);
		}
	}
}

.color {
	&-black
	{
		color: var(--color-black-b);
	}
	&-light-grey
	{
		color: var(--color-light-grey);
	}
	&-red {
		color: var(--color-red);
	}
	&-white {
		color: var(--color-white);
	}
	&-black-b {
		color: var(--color-black-b);
	}
}
