@use 'config' as *;
@use 'fonts' as *;
@use 'tools' as *;

.btn {
	display: flex;
	position: relative;
	align-self: start;
	border: none;
	color: var(--color-green);
	align-items: center;
	text-decoration: none;
	transition: all 300ms ease;
	@extend #{'.font-body'};
	font-weight: 600;
	cursor: pointer;

	span {
		display: inline-block;
		width: rem(28);
		height: rem(24);
		margin-left: rem(20);
		background-color: var(--color-green);
		mask-image: url('../images/arrow-right.svg');
		mask-repeat: no-repeat;
		mask-size: contain;
		transition: all 300ms ease;
	}

	&:hover {
        span {
            transform: translateX(15px);
        }
    }
	
	&:visited {
		color: inherit;
	}

	&.color {
		&-pastel {
			&:visited {
				color: var(--color-pastel);
			}
			span {
				background-color: var(--color-pastel);
			}
		}
		&-green {
			&:visited {
				color: var(--color-green);
			}
			span {
				background-color: var(--color-green);
			}
		}
		&-white {
			&:visited {
				color: var(--color-white);
			}
			span {
				background-color: var(--color-white);
			}
		}
		&-black {
			background-color: var(--color-white);
			&:visited {
				color: var(--color-black);
			}
			span {
				background-color: var(--color-black);
			}
			&:hover{
				color: var(--color-white);
				background-color: var(--color-dark-green);
			}
		}
	}

}